@import url(/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(255,122,40);
    background: radial-gradient(circle, rgba(255,122,40,1) 0%, rgba(153,148,233,1) 100%);
    display: flex;
    justify-content: center;
}
a {
    color:black;
}

.container {
    width: 440px;
    height: 680px; 
    background-color: #fff;
    margin-top: 20px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.category {
    width: 400px;
    height: 40px;
    margin: 0 20px 20px 20px;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category_btn {
    background-color: rgb(170, 161, 255);
    color: rgb(49, 49, 49);
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    box-shadow: rgba(49, 49, 49, 0.35) 0px 3px 6px;
    font-size: 13px;
    font-weight: 200px;
}

.active, .category_btn:hover {
    background-color: rgb(112, 97, 255);
    color: rgb(255, 255, 255);
    box-shadow: rgba(49, 49, 49, 0.35) 0px 2px 3px;
}

.main {
    height: 570px;
}

.image__main {
    display: none;
    justify-content: center;
    padding-top: 140px;
}

.add_task {
    padding: 10px 0px 0px 0px;
    font-size: 40px;
    font-weight: 700px;
}

.add_task_btn {
    background-color: rgb(170, 161, 255);
    color: rgb(49, 49, 49);
    width: 440px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_task_btn:hover {
    background-color: rgb(112, 97, 255);
    color: rgb(255, 255, 255);
}

/* Pop up */

.pop_add_task {
        width: 400px;
        height: 400px;
        display: none;
        position: fixed;
        bottom: 180px;
        right: 570px;
        border: 1px solid #a7a7a7;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 17px;
        z-index: 1;
}

.task_text {
    font-size: 20px;
    padding-top: 50px;
    padding-left: 30px;
}

.input_border {
    border: 2px solid rgb(192, 192, 192);
    border-radius: 17px;
    padding: 15px 85px 15px 15px;
    display: flex;
    justify-content: center;
}

.input_border:focus {
    border: 2px solid rgb(112, 97, 255);
    border-radius: 17px;
    padding: 15px 85px 15px 15px;
    display: flex;
    justify-content: center;
}

   /* Buttons */

   .buttons {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-top: 50px;
   }
.save {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(170, 161, 255);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
 .save:hover {
    background-color: rgb(112, 97, 255);
    box-shadow: 0px 5px 10px rgba(112, 97, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
.save:active {
    transform: translateY(-1px);
  }

.clear {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.clear:hover {
  transform: translateY(-7px);
  box-shadow: 0px 5px 10px rgba(118, 118, 118, 0.4);
}

  /* to do list */

  .todo_container {
    margin-top: 45px;
    width: 440px;
    height: 500px;
  }

  .todos {
    padding-top: 10px;
  }

  .todo_day {
    padding-top: 20px;
    font-weight: 700;
    font-size: 25px;
    padding-left: 40px;
  }



ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f7f7;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 17px;
    margin: 2px 0 2px 0;
    padding-left: 20px;
  }

ul li:hover {
    background: #d3d3d3;
  }

ul li.checked {
    align-items: center;
    justify-content: space-between;
    background: #a9ffb6;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 17px;
    margin: 2px 0 2px 0;
    padding-left: 20px;
    text-decoration: line-through
  }
  
  .img_delete_task {
    width: 15px;
    height: 15px;
    margin-right: 30px;
  }


  .hide {
    display: none;
  }

  *, *::after, *::before {
    box-sizing: border-box;
  }
  .choose_category {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;

  }

  .custom_selector {
   position: relative;
   display: inline-block
  }

  .custom_selector select {
    width: 60%;
    min-height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(192, 192, 192);
    outline: none;
    cursor: pointer;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 17px;
  }